.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.side {
  max-width: calc(50% - var(--size-6));
}

.article {
  box-sizing: border-box;
  margin-bottom: var(--space-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--colors-base-grey-400);
  background: var(--colors-base-background);
  padding: var(--size-8);

  display: flex;
  flex-direction: column;
  
}

.big {
  flex-grow: 1;
  max-width: calc(50% - var(--size-6));
}

.image {
  margin-bottom: var(--size-8);
}

.title {
  margin-bottom: var(--size-8);
}

.teaser {
  flex-grow: 1;
}

.meta {

}

.metaAuthor {
  font-size: var(--font-size-body-smaller);
  color: var(--colors-text-muter);
  padding-bottom: 16px;
}

.metaAuthorName {

}

.metaAuthorDate {

}

.teaser {
  opacity: 0.85;
  font-size: 16px;
  line-height: 200%;
  margin-top: 1rem;
}

.overline {
  padding-bottom: var(--size-8);
}

.readMore {
  align-self: flex-end;
  margin-top: max(auto, var(--size-8));
}

.readMoreButton {

}

@media (min-width: 600px) and (max-width: 959px) {
  .root {
    flex-direction: column;
  }

  .side {
    max-width: 100%;
    margin-bottom: var(--space-small);
  }

  .big {
    max-width: 100%;
    margin-bottom: var(--space-small);
  }
}